﻿@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style
{
	<link rel="stylesheet" href="~/CSS/contacts.css" type="text/css" media="screen" title="no title" charset="utf-8">
}
<div class="common">
	<div class="inner-block hide-cursor">
		<img src="~/Content/photographer.jpg">
	</div>
	<div class="inner-block">
		<p class="description">
		Всем привет! Я профессиональный семей- ный фотограф. С появлением дочки, я стала все больше интересоваться направлением детской и семейной фотосъемки. 
		Стремлюсь воссоздать на фото и запечатлеть историю каждой семьи. Мне очень нравится ловить каждый момент радости и эмоции двух любящих сердец, 
		для которых детский смех, радость и улыбка так же много значат, как и для меня! Мне приносит большое удовольст- вие узнавать новые семейные истории и вдох- новляться ими! 
		Поэтому я принимаю заказы на съемки в разных городах.  Буду рада новым знакомствам. С уважением семейный фотограф Анна Сторожик.
		</p>
		<div class="phone-number">
			<img src="~/Content/viber.png">
			<span style="position: relative; font-size:18pt; font-family: 'Philosopher', sans-serif; margin-left:10pt">+380-67-962-67-44</span>
		</div>
	</div>
</div>
<p style="font-size:16pt; font-family: 'Philosopher', sans-serif;">Save The Moment</p>
<footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
	        type = "text/javascript"
	        charset = "utf-8" > 
	</script>
	<script src="/Scripts/device.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/kute.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/shared.js" type="text/javascript" charset="utf-8"></script>
</footer>
