﻿@model Storozhyk.com.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Authorization</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/CSS/shared.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="~/CSS/adminToolkit.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div class="centerDiv">
		<p>Authorization</p>
		@using(Html.BeginForm("CheckUser", "AdminToolkit", FormMethod.Post,  new{enctype="multipart/form-data", data_formType="user"}))
		{
			<p class="error"> @ViewData["authorization"]</p>
			<table>
				<tr>
					<td>User</td>
					<td>@Html.TextBoxFor(user=>user.Login)</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>@Html.PasswordFor(user=>user.Password)</td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Login"/>
		}
	</div>
</body>
</html>

