﻿@using Storozhyk.com;  
@model Slide[]  
    @foreach (Slide slide in Model)  
    {  
        <div class="div-preView"><img src = "data:image/jpeg;base64,@slide.PreView"><input id=@slide.Id type="checkbox" name="cb" class="center"/></div>
    } 