﻿@model Storozhyk.com.AdminResults

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
	    <title>Storozhyk.com/Admin</title>
	    <meta charset="utf-8">
	    <link rel="stylesheet" href="~/CSS/shared.css" type="text/css" media="screen" title="no title" charset="utf-8">
	    <link rel="stylesheet" href="~/CSS/adminToolkit.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<div id="progress" class="progressBar">
			<img src="Content/loading.gif">
		</div>
		<iframe id="iframe" name="result" width="100%"></iframe>
		<div class="div-block-option color1">
			<h2>HOME</h2>
			<div class="div-entry">
				<p class="text1">Додавання файлів. Порядок задати неможливо</p>
				<form method="post" action="/AdminToolkit/LoadFile" enctype="multipart/form-data" onsubmit="showPreloader()">
					<input type="file" name="d" id="h" multiple accept="image/jpeg,image/png"/>
					<input type="submit" name="1" id="s" value="Відправити"/>
				</form>
			</div>
			<div class="div-entry">
				<p class="text1">Видалення файлів. </p>
				<div class="div-preView-container">
					@{
						Html.RenderAction("ImagePreview");
					}
				</div>
				<form id="formRemove" method="post" action="/AdminToolkit/RemoveFile" enctype="multipart/form-data">
					<input id="arrRemove" name="text" type="hidden"/>
					<input id="remove" type="button" value="Видалити"/>
				</form>
			</div>
			<div class="div-entry">
				<p class="text1">Статус операції.</p>
				<div class="ok-fail">
					<div class="status-container">
						<div class="ok-result">
							<p>Успішно:</p>
							<p>
							@foreach(var item in Model.Ok)
							{
							  	@item <br>
							}
							</p>
						</div>
					</div>
					<div class="status-container">
						<div class="fail-result">
							<p>Не успішно:</p>
							<p>
							@foreach(var item in Model.Fail)
							{
							  	@item <br>
							}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="div-block-option color2">
			<h2>PORTFOLIO</h2>
			<div class="div-entry">
				<p class="text1">Додати портфоліо</p>
				<form method="post" action="/AdminToolkit/UploadPortfolio" enctype="multipart/form-data" target="result" onsubmit="showPreloader()">
					<span> Заголовок </span> <input id="title1" type="text" name="title"/>
					<textarea id="pf-text" name="text" rows="10"></textarea>
					<p>Відео</p>
					<textarea id="pf-video" name="video" rows="5"></textarea>
					<input type="file" id="pf-files" name="files" multiple accept="image/jpeg,image/png"/>
					<input type="submit" id="submit1" name="submit" value="Відправити"/>
				</form>
			</div>
		</div> 	

		<div class="div-block-option color1">
			<h2>BLOG</h2>
			<div id="div-blog">
				<p class="text1">Додати блог</p>
				<form method="post" action="/AdminToolkit/UploadBlog" enctype="multipart/form-data" target="result" onsubmit="showPreloader()">
					<span> Заголовок </span> <input id="title" type="text" name="title"/>
					<textarea id="blog-text" name="text" rows="10"></textarea>
					<p>Відео</p>
					<textarea id="blog-video" name="video"  rows="5"></textarea>
					<input type="file" id="files" name="files" multiple accept="image/jpeg,image/png"/>
					<input type="submit" id="submit" name="submit" value="Відправити"/>
				</form>
			</div>
		</div> 	
		<footer>
			<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" type="text/javascript" charset="utf-8"></script>
			<script src="/Scripts/admin123ed.js" type="text/javascript" charset="utf-8"></script>
		</footer>
	</body>
</html>

