﻿<!DOCTYPE html>
<html>
<head style="height: 100%; overflow:auto">
	<meta charset="utf-8">
	<meta name="description" content="сайт фотографа; семейные фотографии; семейный фотограф; фотограф в Днепре; фотограф в Дніпрі;" />
	<meta name="document-state" content="Dynamic" />
	<meta name="author" content="Сторожик Анна Аня Storozhyk Ann" />
	<meta name="keywords" content="фотограф; фотографии; Днепр; Дніпро; услуги фотографа" />
	<meta name="revisit" content="30" />
	<meta name="robots" content="all" />
	<meta http-equiv="Expires" content="Fri, 30 Jun 2017 08:21:57 GMT">
	<!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/CSS/shared.css" type="text/css" title="no title">
	<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
	<link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
	@if (IsSectionDefined("Style")) 
	{
        @RenderSection("Style")
    }
</head>
<body id="body">
	<div id="head-block" class="master">
		<div class="master-1part">
			<a href="/Home"><img src="/Content/logo-cliped.png" height="100%"/></a>
		</div>
	</div>
	<div id="menu">
		<div id="mobile-menu">
			MENU
		</div>
		<ul id="list-box">
			<li id="menu1">HOME</li>
			<li id="menu2">PORTFOLIO</li>
			<li id="menu3">BLOG</li>
			<li id="menu4">CONTACTS</li>
		</ul>
		<div id="thumb">
		</div>
	</div>
	<div id="proxi">
		<div id="buffer">
              @RenderBody()
		</div>
	</div>
	<div id="bottom">
		<div class="copyright">
			Storozhyk © 2011-2017 
		</div>
		<div class="social">
			<a href="https://www.facebook.com/anna.storozhyk">	<img class="icon-social" src="~/Content/facebook.png" alt="Facebook"/></a>	<a href="https://www.instagram.com/storozhyk_com"><img class="icon-social" src="~/Content/instagram.png" alt="Instagram"/></a>
		</div>
		<div class="rombersoft">
			<a href="http://rombersoft.dp.ua" style="color:gray"> Developed by Rombersoft </a>
		</div>
	</div>
<footer>
	@if (IsSectionDefined("Footer")) {
		@RenderSection("Footer")
	}
	<!--script src="Scripts/bootstrap.min.js"></script-->
</footer>
</body>
</html>
