﻿@{
    ViewBag.Title = "Storozhyk.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style
{
	<link rel="stylesheet" href="~/CSS/home.css" type="text/css" media="screen" title="no title" charset="utf-8">
}

<div id="img-container" class="img hide-cursor">
	<img src = 'data:image/jpeg;base64,@ViewData["Slide"]' height="600px"/>
</div>
<footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
	        type = "text/javascript"
	        charset = "utf-8" > 
	</script>
	<script src="/Scripts/device.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/kute.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/shared.js" type="text/javascript" charset="utf-8"></script>
</footer>