﻿@{
    ViewBag.Title = "Storozhyk.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Storozhyk.com
@model Portfolio[]

@section Style
{
    <link rel="stylesheet" href="~/CSS/portfolio.css" type="text/css">
}
<div id="blogs-container">
    @foreach(Portfolio portfolio in Model)
    {
        <div class="div-blog" onclick="selectBlog(@portfolio.Id)">
            <img src='data:image/jpeg;base64,@portfolio.MainImage' width="100%"/>
            <p class="blog-date">@portfolio.Date</p>
            <h3 class="title">@portfolio.Title</h3>
        </div>
    }
</div>
<footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
            type = "text/javascript"
            charset = "utf-8" > 
    </script>
    <script src="/Scripts/device.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Scripts/kute.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Scripts/shared.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Scripts/portfolio.js" type="text/javascript" charset="utf-8"></script>
</footer>