﻿@using Storozhyk.com
@model Portfolio

@{
    ViewBag.Title = "Storozhyk.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style
{
    <link rel="stylesheet" href="~/CSS/blog.css" type="text/css" media="screen" title="no title" charset="utf-8">
}
<div id="div-fullBlog">
	@{
		<h2 class="title">@Model.Title</h2>
		@Html.Raw(Model.Text);
		<div class="img-container">
			@for (int i = 0; i < Model.Images.Length; i++)
			{
				<img id=@Model.Images[i] src='/Content/stub.png'/>
			}
			@if (!string.IsNullOrEmpty(Model.Video))
			{
				<iframe @Html.Raw(Model.Video)></iframe>
			}
		</div>
		<p class="blog-date">@Model.Date</p>
	}
</div>
<footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
	        type = "text/javascript"
	        charset = "utf-8" > 
	</script>
	<script src="/Scripts/device.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/kute.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/shared.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/bgLoadingImg.js" type="text/javascript" charset="utf-8"></script>
</footer>