﻿.centerDiv
{
	position:fixed;
	width:300px;
	height:200px;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:ivory;
	border-radius:15px;
	border:1px;
	border-color:black;
	border-style:solid;
	text-align:center;
}

table
{
	position:relative;
	margin-top:0;
	margin-right:auto;
	margin-bottom:auto;
	margin-left:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

td
{
	text-align:left;
}

tr
{
	position:relative;
	height:35px;
}

.error
{
	color:red;
	font-size:10pt;
	font-weight:normal;
	margin:0;
}

.div-block-option
{
	position: relative;
	width:100%;
	display:inline-flex;
	margin: 0 auto;
	text-align:left;
}

.color1
{
	background-color:#CEECF5;
}

.color2
{
	background-color:#F3E2A9;
}

.text1
{
	position:relative;
	margin:10px 0 20px 0;
	font-size:14pt;
	font-weight:bold;
}

.div-entry
{
	position:relative;
	margin: 0 0 0 30px;
	width: 30%;
}

#div-blog
{
	position:relative;
	margin: 0 0 0 2%;
	width: 30%;
}

textarea
{
	position:relative;
	width:98%;
}

.ok-fail
{
	position:relative;
	display:inline-flex;
	width:100%;
	height:130px;
	overflow:auto;
}

.status-container
{
	position:relative;
	width:50%;
	overflow:auto;
}

.ok-result
{
	position:relative;
	width:100%;
	padding:10px;
	background-color: #05ff32;
}

.fail-result
{
	position:relative;
	width:100%;
	padding:10px;
	background-color: #fcb5b5;
}

.progressBar
{
	position:fixed;
	width: 220px;
	height: 14px;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
	padding: 30px;
	visibility: hidden;
	background-color: #54A1E2;
	border-radius:35px;
	text-align:center;
	z-index: 1;
}

iframe
{
	position:fixed;
	width: 300px;
	max-height:200px;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
	visibility:hidden;
	background-color: ivory;
	border: solid 1px black;
	border-radius:10px;
}

.div-preView-container
{
	position: relative;
	display:inline-flex;
	height: 120px;
	width:100%;
	overflow:auto;
	background-color: #fafcbd;
}

.center
{
	position:absolute;
	top:3px;
	right:3px;
}

.div-preView
{
	position:relative;
	height:100%;
}

p, input
{
	margin:5px;
}