.title
{
    position:relative;
    width:100%;
}

#blogs-container
{
    position:relative;
    width:100%;
    text-align: center;
    box-sizing: border-box;
}

#div-fullBlog
{
    position:relative;
    width:100%;
    margin:0 auto;    
}

.block-text
{
    font-size:16px;
    text-indent: 20px;
    text-align: justify;
    margin:10px;
}

.div-blog
{
	position:relative;
    width:32.3%;
	margin:0.5%;
    text-align: center;
    float:left;
	overflow:hidden;
    box-sizing: border-box;
    transition: width 1s;
}

.blog-date
{
	position:relative;
	width:96%;
	text-align: right;
	margin-right:4%;
	color:gray;
	font-style:italic;

}

.img-container
{
    position:relative;
    width:100%;
    height:auto;
    margin:auto;
    top:0;
    right:0;
    bottom:0;
    left:0
}

@media screen and (max-width: 1000px)
{
    .div-blog
    {
        width:49%;
    }
    
    .block-text
    {
        font-size:30px;
    }
}

@media screen and (max-width: 700px) {
    .div-blog
    {
        width: 99%;
    }
    
    .block-text
    {
        font-size:36px;
    }
}
