﻿.common
{
	position: relative;
	margin-top:3%;
	height: 500px;
	width: 666px;
	display: inline-flex;
	overflow: hidden;
}

.inner-block
{
	position:relative;
	width:333px;
	height:100%;
	margin:0;
}

.color-block
{
	background-color: ivory;
}

.description
{
	font-size:11pt; 
	text-indent: 20px;
	font-family: 'Philosopher', sans-serif;
	text-align: justify;
	margin:10px;
}

.phone-number
{
	 position:relative; 
	 display:inline-flex;
	 top:100px;
}