.title
{
    position:relative;
    width:96%;
    margin-left: 2%;
    margin-right: 2%;
}

#blogs-container
{
    position:relative;
    width:100%;
    text-align: center;
    box-sizing: border-box;
}

#div-fullBlog
{
    position:relative;
    width:100%;
    margin:0 auto;
}

.block-text
{
    font-size:12pt;
    text-indent: 20px;
    text-align: justify;
    margin:10px;
}

.div-blog
{
    position:relative;
    width:32.3%;
    margin:0.5%;
    text-align: center;
    float:left;
    box-sizing: border-box;
    overflow:hidden;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
    transition: width 1s;
}

.blog-date
{
    position:relative;
    width:97%;
    text-align: right;
    margin-right:3%;
    color:gray;
    font-style:italic;

}

.img-container
{
    position:relative;
    width:100%;
    height:auto;
    margin:auto;
    top:0;
    right:0;
    bottom:0;
    left:0
}

@media screen and (max-width: 1000px)
{
    .div-blog
    {
        width:49%;
    }
}

@media screen and (max-width: 700px) {
    .div-blog 
    {
        width: 99%;
    }
}