﻿body
{
	position: absolute;
	overflow: hidden; 
	margin: auto; 
	left:0;
	right:0;
	height:100%;  
    width:100%;
	max-width:1100px; 
}

html{height: 100%; overflow:auto}

.master
{
 	position:fixed; 
 	display:inline; 
 	top:0;
    width:100%;
    max-width:1100px;
    height:124px;
 	margin:auto;
 	text-align: center;
	background-color: white;
	z-index: 100;
}

.master-1part
{
	position:relative;
	top:0;
	left:0;
	height:100%;
    -webkit-user-select: none;
}

#proxi
{
	position:relative;
	text-align: center;
	width: 100%;
	height:auto;
	top:170px;
	margin:auto;
}

#menu
{
	position:fixed;
	width: 100%;
	max-width: 1100px;
	height:40px;
	top:124px;
	font-size: 18px;
	font-family: 'Philosopher', sans-serif;
	font-weight: bold;
	margin:auto;
	background-color:white;
	z-index: 101;
	text-align: center;
}

.button-menu
{
	border:0;
	font-size: 18pt;
	font-family: 'Philosopher', sans-serif;
	font-weight: bold;
	background-color:white;
	color:black;
    outline: none;
}

ul
{
    margin-bottom: 3px;
	padding: 0;
}

li
{
    list-style-type: none;
    display: inline-block;
    border:0;
    font-size: 24px;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    background-color:white;
    color:black;
    outline: none;
    margin: 0 10px;
}

#thumb
{
 	position:fixed;
 	background-color:black;
 	height:4px;
 	border-radius: 2px;
 	visibility: hidden;
}

#bottom
{
	position:fixed;
	display: inline-flex;
	background-size: cover;
	background-color: white;
	bottom:0;
	margin-top:1%;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	right:0;
	left:0;
	height:66px;
	width:100%;
	font-family: 'Philosopher', sans-serif;
}

.copyright
{
	position:relative;
	width:36%;
	height:25px;
	top:22px;
	font-size: 14pt;
	font-weight: normal;
	color: black;
	text-align: end;
}

.social
{
	position:relative;
	width:28%;
	height:32px;
	top:17px;
	text-align: center;
}

.rombersoft
{
	position:relative;
	width:36%;
	height:25px;
	top:22px;
	text-align: start;
}

.icon-social
{
	position:relative;
	margin: 0 20px;
}

.hide-cursor
{
	cursor:none;
}

#buffer
{
    position:relative;
    width:100%;
    height: 800px;
    font-family: 'Philosopher', sans-serif;
    margin:20px auto auto auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:auto;
}

#mobile-menu
{
    position: fixed;
    left: 20px;
    top: 10px;
    display: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: gray;
}

@media screen and (max-width: 1000px)
{
    #thumb
    {
        display: none;
    }

    #proxi
    {
        top:120px;
    }
    
    #list-box
    {
        position: fixed;
        top: 40px;
        left: 10px;
        padding-left: 0;
        background-color: white;
        border-radius: 10px;
		display: none;
    }
    
    li
    {
        float: none;
        display: flex;
        margin: 10px;
		font-size: 30px;
    }

    #menu
    {
       	height: 0;
        font-size: 30px;
    }
    
    #mobile-menu
    {
        display: inline-block;
    }
	
	.master-1part
	{
		float: right;
	}
}
