﻿@{
    ViewBag.Title = "Storozhyk.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Storozhyk.com
@model Blog[]

@section Style
{
    <link rel="stylesheet" href="~/CSS/blog.css" type="text/css" media="screen" title="no title" charset="utf-8">
}
<div id="blogs-container">
	@foreach(Blog blog in Model)
	{
		<div class="div-blog" onclick="selectBlog(@blog.Id)">
			<img src='data:image/jpeg;base64,@blog.MainImage' width="100%"/>
			<p class="blog-date">@blog.Date</p>
			<h2 class="title">@blog.Title</h2>
			<p class="block-text">@blog.PreviewText...</p>
		</div>
	}
</div>
<footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
	        type = "text/javascript"
	        charset = "utf-8" > 
	</script>
	<script src="/Scripts/device.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/kute.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/shared.js" type="text/javascript" charset="utf-8"></script>
	<script src="/Scripts/blog.js" type="text/javascript" charset="utf-8"></script>
</footer>

